
.free-bird {
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.row {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.media:first-child {
    padding-top: 30px !important;
}

.navbar {
    background-color: #673ab7 !important;
}

.edge-header{
    margin-top:20px;
}