@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input type="text" id="form2" class="form-control">
    <label for="form2">Example label</label>
</div>




@*<script src="~/Scripts/tether.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
