@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled.min.css" rel="stylesheet">

<div class="md-form">
    <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
    <label for="date-picker-example">Date picker</label>
</div>

<div class="md-form">
    <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
    <label for="input_starttime">Time picker</label>
</div>

<select class="mdb-select" multiple>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>


<select class="mdb-select">
    <option value="" disabled selected>Choose your option</option>
    <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">example 1</option>
    <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">example 2</option>
    <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">example 1</option>
</select>

<!--Info message-->
<a class="btn btn-info btn-rounded"  data-toggle="tooltip" data-placement="top" title="Tooltip" onclick="toastr.info('Hi! I am info message.', null, {
                positionClass: 'toast-bottom-right'
            });">Info message</a>
<!--Warning message-->
<a class="btn btn-warning btn-rounded" onclick="toastr.warning('Hi! I am warning message.', null, {
                positionClass: 'toast-bottom-right'
            });">Warning message</a>
<!--Success message-->
<a class="btn btn-success btn-rounded" onclick="toastr.success('Hi! I am success message.', null, {
                positionClass: 'toast-bottom-right'
            });">Success message</a>
<!--Error message-->
<a class="btn btn-danger btn-rounded" onclick="toastr.error('Hi! I am error message.', null, {
                positionClass: 'toast-bottom-right'
            });">Error message</a>

<a type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>


<fieldset class="form-group">
    <input name="group1" type="radio" id="radio1">
    <label for="radio1">Option 1</label>
</fieldset>

<fieldset class="form-group">
    <input name="group1" type="radio" id="radio2">
    <label for="radio2">Option 2</label>
</fieldset>

<fieldset class="form-group">
    <input name="group1" type="radio" id="radio3">
    <label for="radio3">Option 3</label>
</fieldset>


<!-- Switch -->
<div class="switch">
    <label>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
    </label>
</div>
<br /><br />

<!--Form with header-->
@Html.Partial("_Register");
<!--/Form with header-->


<!--Card-->
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-responsive">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">Anna Doe</h4>
        <hr>
        <!--Quotation-->
        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div>

</div>
<!--/.Card-->



@*<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>*@
<script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled.min.js"></script>



<script>
    $(document).ready(() => {
        $('.datepicker').pickadate();

        $('#input_starttime').pickatime({
            twelvehour: true
        });

        $('.mdb-select').material_select();

        $('[data-toggle="tooltip"]').tooltip()

        //$("#info-target").click(function () {
        //    toastr["info"]("I was launched via jQuery!", null, {
        //        positionClass: 'toast-bottom-right'
        //    })
        //});

        //$("#warn-target").click(function () {
        //    toastr["warning"]("I was launched via jQuery!", null, {
        //        positionClass: 'toast-bottom-right'
        //    })
        //});

        //$("#success-target").click(function () {
        //    toastr["success"]("I was launched via jQuery!", null, {
        //        positionClass: 'toast-bottom-right'
        //    })
        //});

        //$("#error-target").click(function () {
        //    toastr["error"]("I was launched via jQuery!", null, {
        //        positionClass: 'toast-bottom-right'
        //    })
        //});

    })
</script>