@{
    ViewBag.Title = "Form";
}

<h2>Forms</h2>
<link href="~/Content/form.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <!--Naked Form-->
        <div class="card-block">

            <!--Header-->
            <div class="text-center">
                <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                <hr class="mt-2 mb-2">
            </div>

            <!--Body-->
            <p>We'll write rarely, but only the best content.</p>
            <br>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form3" class="form-control">
                <label for="form3">Your name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="form2" class="form-control">
                <label for="form2">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-tag prefix"></i>
                <input type="text" id="form32" class="form-control">
                <label for="form34">Subject</label>
            </div>

            <div class="md-form">
                <i class="fa fa-pencil prefix"></i>
                <textarea type="text" id="form8" class="md-textarea"></textarea>
                <label for="form8">Icon Prefix</label>
            </div>

            <div class="text-center">
                <button class="btn btn-default blue lighten-2">Submit</button>

                <div class="call">
                    <br>
                    <p>
                        Or would you prefer to call?
                        <br>
                        <span><i class="fa fa-phone"> </i></span> + 01 234 565 280
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div id="map" class="col-md-6 z-depth-1" style="height: 600px"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-MY5bQo3yuGryNR5AyqTx1a1MEJ5kRhI&callback=initMap"
        type="text/javascript"></script>
<script>
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    $(document).ready(function () {

    });
</script>